<!--left pan-->
<div class="list-group col-md-2" style="margin-top:70px;">
    <a ui-sref="addCourse" ui-sref-active="active" class="list-group-item">Add Course</a>
    <a ui-sref="modifyCourse" ui-sref-active="active" class="list-group-item">View/Modify Course</a>
</div>


<!--Faculty Dashboard-->
<div class="col-md-10">
    <div style="margin-top:10px; width: 90%;">
        <div class="panel panel-default ">
            <div class="panel-heading panel-color">
                <div class="panel-title">Dashboard</div>

            </div>

            <div style="padding-top:0px" class="panel-body">
                <table class="table table-borderless" align="center">
                    <tbody>
                    <h3 style="text-align:center">Spring</h3>
                    <tr ng-repeat="course in courseData | filter: {trimester:'Spring'} | filter: {trimester:currentYear}">
                        <td class="col-md-9">
                            <span editable-text="course.course_name" e-name="course_name" e-form="rowform"
                                  onbeforesave="checkCourseName($data)" e-required>
                                 {{ course.course_name || 'empty' }}
                            </span>
                        </td>
                        <td>
                            <span editable-text="course.trimester" e-name="trimester" e-form="rowform"
                                  onbeforesave="checkTrimester($data)" e-required>
                               {{ course.trimester || 'empty' }}
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="table" align="center" style="table-layout: fixed;border: none">
                    <h3 style="text-align:center">Summer</h3>
                    <tr ng-repeat="course in courseData | filter: {trimester:'Summer'} | filter: {trimester:currentYear}">
                        <td class="col-md-9">
                            <span editable-text="course.course_name" e-name="course_name" e-form="rowform"
                                  onbeforesave="checkCourseName($data)" e-required>
                                 {{ course.course_name || 'empty' }}
                            </span>
                        </td>
                        <td>
                            <span editable-text="course.trimester" e-name="trimester" e-form="rowform"
                                  onbeforesave="checkTrimester($data)" e-required>
                               {{ course.trimester || 'empty' }}
                            </span>
                        </td>
                    </tr>
                </table>
                <table class="table table-borderless" align="center">
                    <h3 style="text-align:center">Fall</h3>
                    <tr ng-repeat="course in courseData | filter: {trimester:'Fall'} | filter: {trimester:currentYear}">
                        <td class="col-md-9">
                            <span editable-text="course.course_name" e-name="course_name" e-form="rowform"
                                  onbeforesave="checkCourseName($data)" e-required>
                                 {{ course.course_name || 'empty' }}
                            </span>
                        </td>
                        <td>
                            <span editable-text="course.trimester" e-name="trimester" e-form="rowform"
                                  onbeforesave="checkTrimester($data)" e-required>
                               {{ course.trimester || 'empty' }}
                            </span>
                        </td>
                    </tr>
                </table>



            </div>
        </div>
    </div>
</div>