<div class="col-md-11 text-center">
    <h3> Password Assistance </h3>
    <p> Enter email ID associated with your account</p>
    <!-- Button -->

    <form name="forgotPasswordForm" class="form-horizontal" novalidate>
        <div class="form-group row" >
            <div class="col-sm-2"></div>
            <label class="col-sm-2 control-label" >Email Address <span
                    style="color: red">*</span></label>
            <div class="col-sm-5"
                 ng-class="{'has-error' : forgotPasswordForm.emailAddress.$invalid && (forgotPasswordForm.emailAddress.$dirty || forgotPasswordForm.$submitted)}">
                <input type="email"
                       ng-required="true"
                       name="emailAddress"
                       ng-model="account.emailAddress"
                       class="form-control"
                       placeholder="Enter email address">
                <div class="row">
                <span class="help-block"
                      ng-show="forgotPasswordForm.emailAddress.$error.required && (forgotPasswordForm.emailAddress.$dirty|| forgotPasswordForm.$submitted) ">You can't leave this empty</span>
                </div>
            </div>
            <div class="col-sm-2"></div>
            </br></br>
        </div>
        <button type="submit" class="btn btn-success" ng-click="forgotPassword()"> Submit</button>
    </form>
    <!--<div uib-alert ng-class="'alert-danger'" ng-show="loginAlert" close="loginAlert =!loginAlert">No account found with this address.-->
    <!--</div>-->
    <div id="successMessage" style="display:none;border: 2px solid green;
                     min-height: 40px;
                     width: 768px;">
        <p style="color: green;font-weight: bold;">
            Opinion Box will send an email withing 10 minutes containing a random password to {{account.emailAddress}}.Please change the password as soon as possible.
        </p>
    </div>
    <div id="failedMessage" style="display:none;border: 2px solid red;
                     min-height: 40px;
                     width: 768px;">
        <p style="color: red;font-weight: bold;">
            <label id="errorMessageLabel" class="error"></label>
        </p>
    </div>
</div>





