

<div style="margin-top:10px" class="col-md-11 text-center">
<h3> Password Assistance </h3> <br></br>
<p> Enter email ID associated with your account</p>
                        <!-- Button -->
                        
					 <input type="text" class="" id="pass" name="pass"
                                   ng-model="forgotPassword"
                                   placeholder="Enter Email Address" ng-required="true"> <br></br>
                            <button type="submit" class="btn btn-success" ng-click="">  Submit</button> 
                        
						</div>