<div class="container">
    <div class="col-md-8">
        <h2>Reset your password</h2>

        <form name="settingsForm" novalidate>
            <div class="form-group">
                <label  class="col-sm-3 control-label">Current Password: <span
                        style="color: red">*</span></label>
                <div class="col-sm-8" ng-class="{'has-error' : settingsForm.currentPwd.$invalid && (settingsForm.currentPwd.$dirty || settingsForm.$submitted)}">
                    <input type="password"
                           ng-required="true"
                           name="currentPwd"
                           ng-model="settings.currentPwd"
                           
                           class="form-control "
                    >
                   
                    <span class="help-block"
                          ng-show="settingsForm.currentPwd.$error.required && (settingsForm.currentPwd.$dirty|| settingsForm.$submitted) ">You can't leave this empty</span>

                </div>
                </br></br></br>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">New Password: <span
                        style="color: red">*</span></label>
                <div class="col-sm-8" ng-class="{'has-error' : settingsForm.newPwd.$invalid && (settingsForm.newPwd.$dirty || settingsForm.$submitted)}">
                    <input type="password"
                           ng-required="true"
                           name="newPwd"
                           ng-model="settings.newPwd"
                           ng-pattern="/^[A-Za-z0-9]{8}/"
                           class="form-control "
                    >
                    <span  ng-show="settingsForm.newPwd.$error.pattern">Password must contain alteast one capital letter, small letter and number and length should be 8 characters. Example: Opinion1</span>
                    <span class="help-block"
                          ng-show="settingsForm.newPwd.$error.required && (settingsForm.newPwd.$dirty|| settingsForm.$submitted) ">You can't leave this empty</span>

                </div>
                </br></br></br>
            </div>
            <div class="form-group">
                <label  class="col-sm-3 control-label">Confirm Password <span
                        style="color: red">*</span></label>
                <div class="col-sm-8" ng-class="{'has-error' : settingsForm.confirmPwd.$invalid && (settingsForm.confirmPwd.$dirty || settingsForm.$submitted)}">
                    <input type="password"
                           ng-required="true"
                           name="confirmPwd"
                           ng-model="settings.confirmPwd"
                           class="form-control "
                           ng-pattern="settings.newPwd">
                    <span class="help-block"
                          ng-show="settingsForm.confirmPwd.$error.required && (settingsForm.confirmPwd.$dirty|| settingsForm.$submitted) ">You can't leave this empty</span>
                    <span class="help-block"
                          ng-show="settingsForm.confirmPwd.$error.pattern && settingsForm.confirmPwd.$touched">Passwords don't match</span>
                </div>
                </br></br></br>
            </div>
            <div style="margin-left:150px">
                <button type="submit"  class="btn btn-success" ng-click="resetPassword()">
                    Save
                </button>
            </div>
        </form>
        <div uib-alert  ng-class="'alert-danger'" ng-show="passwordMismatch" close="passwordMismatch = true" >Enter your password correctly</div>
        <div uib-alert  ng-class="'alert-success'" ng-show="passwordChangeSuccess" close="passwordChangeSuccess = false" >Password changed successfully</div>
        <div uib-alert  ng-class="'alert-danger'" ng-show="passwordChangeFailed" close="passwordChangeFailed = false" >Problem in changing password</div>
    </div>
</div>