<div id="loginbox" style="margin-left: 370px; " class="col-md-6 ">
    <div class="panel panel-default ">
        <div class="panel-heading panel-color">
            <div class="panel-title"><b>Dashboard</b></div>

        </div>
        <div style="padding-top:30px" class="panel-body">

            <br>
            <div class="container" id="coursestable">
                <table id="Evaluationtableheight">
                    <!--             <colgroup>
                                <col class="col-md-4">
                                <col class="col-md-7">
                            </colgroup>-->
                    <tbody>
                    <tr>
                        <td><b>Group4</b></td>
                        <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
                        <td><b> Mobile Computing - iOS</b></td>
                        <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
                        <td><a href="Student Evaluation.html" button type="button" class="btn btn-success">Go</button>
                        </td>
                    </tr>
                    <tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <td><b>Group2</b></td>
                    <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
                    <td><b> ADB topics in DB systems</b></td>
                    <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
                    <td><a href="Student Evaluation.html" button type="button" class="btn btn-success">Go</button></td>
                    </tr>

                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><b>Team01</b></td>
                        <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
                        <td><b> Graduate Directed Project</b></td>
                        <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
                        <td><a href="Student Evaluation.html" button type="button" class="btn btn-success">Go</button>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                    <tr>
                        <td><b>Team02</b></td>
                        <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
                        <td><b> Object oriented programming</b></td>
                        <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
                        <td><a href="Student Evaluation.html" button type="button" class="btn btn-success">Go</button>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>