<!--<div id="loginbox" style="margin-left: 370px; " class="col-md-6 ">-->
    <!--<div class="panel panel-default ">-->
        <!--<div class="panel-heading panel-color">-->
            <!--<div class="panel-title"><b>Dashboard</b></div>-->

        <!--</div>-->
        <!--<div style="padding-top:30px" class="panel-body">-->

            <!--<br>-->
            <!--<div class="container" id="coursestable">-->
                <!--<table id="Evaluationtableheight">-->
                          <!--&lt;!&ndash;     <colgroup>-->
                                <!--<col class="col-md-4">-->
                                <!--<col class="col-md-7">-->
                            <!--</colgroup> &ndash;&gt;-->
                    <!--<tbody>-->

                    <!--<tr>-->
                        <!--<td><b>Team02</b></td>-->
                        <!--<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>-->
                        <!--<td><b> Object oriented programming</b></td>-->
                        <!--<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>-->
                        <!--<td><a href="Student Evaluation.html" button type="button" class="btn btn-success">Go</button>-->
                        <!--</td>-->
                    <!--</tr>-->


                <!--</table>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<!--right dashboard-->
<div class="col-md-10 col-md-offset-1" >
    <div class="panel panel-default ">
        <!-- Default panel contents -->
        <div class="panel-heading panel-color text-center"><h4>Dashboard</h4></div>
        <!--<div class="panel-body">-->
            <table class="table table-hover " style="">
                <thead>
                <tr style="background-color: green; opacity: 0.75; color: white;height: 52px">
                    <th>S.No</th>
                    <th>Course Name</th>
                    <th>Group Number</th>
                    <th>Group Name</th>
                    <th>Go</th>
                </tr>
                </thead>
                <tbody>
                <!--<tr ng-repeat="course in courseData track by $index" ng-click="getStudents(course.course_crn)">-->
                <tr ng-repeat="student in courseData track by $index" >
                    <td>
                         {{$index +1}}
                    </td>
                    <td >
                       {{student.course_name}}
                    </td>
                    <td >
                     {{student.group_no}}
                    </td>
                    <td >
                      {{student.group_topic}}
                    </td>
                    <td >
                        <a ui-sref="Settings" type="button" class="btn btn-success"> Go</a>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
</div>