


<!--right dashboard-->
<div class="col-md-10 col-md-offset-1" >
    <div class="panel panel-default ">
        <!-- Default panel contents -->
        <div class="panel-heading panel-color text-center"><h4>Dashboard</h4></div>
        <!--<div class="panel-body">-->
            <table class="table table-hover " style="">
                <thead>
                <tr style="background-color: green; opacity: 0.75; color: white;height: 52px">
                    <th>S.No</th>
                    <th>Course Name</th>
                    <th>Group Number</th>
                    <th>Group Name</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <!--<tr ng-repeat="course in courseData track by $index" ng-click="getStudents(course.course_crn)">-->
                <tr ng-repeat="student in groupData track by $index" >
                    <td>
                         {{$index +1}}
                    </td>
                    <td >
                       {{student.course_name}}
                    </td>
                    <td>
                     {{student.group_no}}
                    </td>
                    <td >
                      {{student.group_topic}}
                    </td>
                    <td >
                        <a ui-sref="studentsInGroup({groupid:student.group_id})" type="button" class="btn btn-success"> Go</a>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
</div>