<!--right dashboard-->
<div class="col-md-10 col-md-offset-1" >
    <div class="panel panel-default ">
        <!-- Default panel contents -->
        <div class="panel-heading panel-color text-center"><h4>Group Members</h4></div>
        <table class="table borderless" style="">

            <!--<tr ng-repeat="course in courseData track by $index" ng-click="getStudents(course.course_crn)">-->
            <tr ng-repeat="student in studentsInGroupData track by $index" >
                <td >
                    {{student.first_name}}&nbsp{{student.last_name}}
                </td>
                <td >
                    <button type="button" ng-disabled="student.evaluate" class="btn btn-primary" ng-click="callEvaluation(student.id)">Evaluate</button>
                    <!--<a ui-sref="{{student.evaluate?'studentEvaluation({studentid:student.id,groupid:group_id})':'.'}}" type="button" class="btn btn-primary" ng-disabled="student.evaluate"> Evaluate</a>-->
                </td>
                <td>
                    <button type="button" ng-disabled="!student.evaluate" class="btn btn-success" ng-click="callEvaluation(student.id)">Edit</button>
                    <!--<a ui-sref="studentEvaluation({studentid:student.id,groupid:group_id})" type="button" class="btn btn-success" ng-disabled="!student.evaluate"> Edit</a>-->
                </td>
            </tr>

        </table>

    </div>
</div>
