<html ng-app="opinionBox" id="grad1">
    <head>
        <title>Opinion Box - Northwest</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Angular JS 1.5.8 -->
        <script src="https://ajaxh.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <!-- Custom styles for this template -->
        <link href="customStyles.css" rel="stylesheet">
    </head>
    <style>
         
      #coursestable{
           float: left;
  text-align: left;
 margin: 1px 70px;
/*  display: inline*/
      
      
      }
      #someid tr td:nth-child(1){
    width:1%;
}
    </style>
    <body>
        <div id="grad1">
        <!--header-->
        <div class=" header-background" >
            <div class="container "> 
                <div class="header-northwest-logo">
                </div>
            </div>
        </div>
        <!--Navigation-->
        <div >
            <nav class="navbar navbar-findcond navbar-fixed">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Welcome <i>Student</i></a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Home</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#"><span class="glyphicon glyphicon glyphicon-cog"></span> Settings</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div id="loginbox" style="margin-left: 370px; " class="col-md-6 ">                  
                <div class="panel panel-default " >
                    <div class="panel-heading panel-color" >
                        <div class="panel-title"><b>Group Members</b></div>
                       
                    </div>  
                     <div style="padding-top:30px" class="panel-body" >
         
        <br>
        
        <table   id="Evaluationtableheight" align="center" >
<!--             <colgroup>
            <col class="col-md-4">
            <col class="col-md-7">
        </colgroup>-->
            <tbody>
      <tr>
          <td><b>Sri Harsha Devisetty</b> </td>
           <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
          <td><a href="Student Questions.html" class="btn btn-default ">Evaluate</a></td>
           <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
        <td><button type="button" class="btn btn-success">Edit</button></td>
      </tr>
      <tr>
          <tr>
                        <td>&nbsp;</td>
                    </tr>
          <td><b>Anil Dasari</b></td>
           <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
        <td><a href="Student Questions.html" class="btn btn-success ">Evaluate</a></td>
         <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
         <td><button type="button" class="btn btn-default">Edit</button></td>
      
      </tr>
      
<tr>
                        <td>&nbsp;</td>
                    </tr>
      <tr>
          <td> <b>Srikanth Bandaru</b></td>
           <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
        <td><a href="Student Questions.html" class="btn btn-success ">Evaluate</a></td>
         <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
         <td><button type="button" class="btn btn-default">Edit</button></td>
      </tr>
      <tr>
                        <td>&nbsp;</td>
                    </tr>
      <tr>
           <tr>
               <td><b> Vinod kumar Peram</b></td>
                <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
        <td><button type="button" class="btn btn-success">Evaluate</button></td>
         <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
         <td><button type="button" class="btn btn-default">Edit</button></td>
      </tr>
      <tr>
                        <td>&nbsp;</td>
                    </tr>
      <tr>
          </tbody>
        </table>
        
                     </div>
                </div>
        </div>
        
         <!--footer-->
        <footer class="footer">
            <div class="container">
                <span class="text-muted">© 2016 Opinion Box  <span class ="float-right" >Northwest Missouri State University.</span></span>
            </div>
        </footer>
        </div>
         </body>

</html>