<!--left pan-->
<div class="list-group col-md-2" style="margin-top:70px;">
    <a ui-sref="viewGroups({courseid:course_crn})" ui-sref-active="active" class="list-group-item">View Groups</a>
    <a ui-sref="addQuestions({courseid:course_crn})"  ui-sref-active="active" class="list-group-item">Add Questions</a>
</div>

<!--right dashboard-->
<div class="col-md-10">
    <h2>Students  {{course_name}}</h2>

    <table class="table table-hover" style="">
        <thead>
        <tr style="background-color: green; opacity: 0.75; color: white;height: 52px">
            <th>S.No</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email id</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="student in studentData track by $index">
            <td>{{$index +1}}</td>
            <td >
                 {{student.first_name}}
            </td>
            <td >
               {{student.last_name}}
            </td>
            <td >
                {{student.email_id}}
            </td>
        </tr>



        </tbody>
    </table>
</div>