<div class="container">
    <!--left pan-->
    <div class="list-group col-md-2" style="margin-top:70px;">
        <a ui-sref="addCourse" class="list-group-item">Add Course</a>
        <a ui-sref="modifyCourse"  class="list-group-item active">View/Modify Course</a>
    </div>
    <div class="col-md-10 tab-content">
        <h2>Course Details</h2>
        <table class="table table-hover table-striped " align="center" style="table-layout: fixed"><thead>

        <tr style="background-color: green; opacity: 0.75; color: white;height: 52px s">
            <th style="width: 50px" >S.No</th>
            <th style="width: 120px" >Course CRN</th>
            <th style="width: 100px">Course Name</th>
            <th style="width: 100px">Trimester</th>
            <th style="width: 120px">Edit</th>
        </tr>

        <tr ng-repeat="course in courseData track by $index">
            <td >{{$index +1}}</td>
            <td style="width: 120px">
                    <span editable-text="course.course_crn" e-name="course_crn" e-form="rowform"
                          onbeforesave="checkCourseNumber($data)" e-required>
                        {{ course.course_crn || 'empty' }}
                        <!--{{ course.course_number || 'empty' }}-->
                    </span>
            </td>
            <td>
                            <span editable-text="course.course_name" e-name="course_name" e-form="rowform"
                                  onbeforesave="checkCourseName($data)" e-required>
                                {{ course.course_name || 'empty' }}
                            </span>
            </td>
            <td>
                            <span editable-text="course.trimester" e-name="trimester" e-form="rowform"
                                  onbeforesave="checkTrimester($data)" e-required>
                                {{ course.trimester || 'empty' }}
                            </span>
            </td>
           
            <td style="white-space: nowrap">
                    <form editable-form name="rowform" onaftersave="saveCourse($data,course)"
                          ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == course">
                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                            save
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                            cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                        <!--<button class="btn btn-primary" ng-click="rowform.$show()">edit</button>-->
            <button type="button" class="btn btn-primary" ng-click="rowform.$show()">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                        <!--<button class="btn btn-danger" ng-click="removeFaculty($index, faculty.user_name)">del</button>-->
            <button type="button" class="btn btn-danger" ng-click="removeCourse($index, course.course_crn)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
                    </div>
                </td>
        </tr>


        <!--old code without xeditable-->
        <!--<tr ng-repeat="faculty in facultyData track by $index">-->
        <!--<td>{{$index +1}}</td>-->
        <!--<td>{{faculty.first_name}}</td>-->
        <!--<td>{{faculty.last_name}}</td>-->
        <!--<td>{{faculty.user_name}}</td>-->
        <!--<td>{{faculty.password}}</td>-->
        <!--<td>{{faculty.email}}</td>-->
        <!--<td>-->
        <!--<a ui-sref="deleteFaculty" ng-click="editFaculty(faculty)"><span class="glyphicon glyphicon-pencil"></span></a>-->
        <!--</td>-->

        <!--</tr>-->


        </table>
    </div>
</div>